Repository dotnet/BenchmarkDotNet, pull requests merged in 2021-01, with the labels that each got.

#1630 Update framework symbol on dotnet new template #1512
  templates/templates/BenchmarkDotNet.BenchmarkProjectTemplate.CSharp/.template.config/template.json
  templates/templates/BenchmarkDotNet.BenchmarkProjectTemplate.CSharp/_BenchmarkProjectName_.csproj
  templates/templates/BenchmarkDotNet.BenchmarkProjectTemplate.FSharp/.template.config/template.json
  templates/templates/BenchmarkDotNet.BenchmarkProjectTemplate.FSharp/_BenchmarkProjectName_.fsproj
  templates/templates/BenchmarkDotNet.BenchmarkProjectTemplate.VB/.template.config/template.json
  templates/templates/BenchmarkDotNet.BenchmarkProjectTemplate.VB/_BenchmarkProjectName_.vbproj
Labels: enhancement

#1612 Sorting parameter columns with parameter priority
  docs/articles/features/parameterization.md
  docs/articles/samples/IntroArgumentsPriority.md
  docs/articles/samples/IntroParams.md
  docs/articles/samples/IntroParamsAllValues.md
  docs/articles/samples/IntroParamsPriority.md
  docs/articles/samples/IntroParamsSource.md
  samples/BenchmarkDotNet.Samples/IntroArgumentsPriority.cs
  samples/BenchmarkDotNet.Samples/IntroParamsPriority.cs
  src/BenchmarkDotNet.Annotations/Attributes/ArgumentsAttribute.cs
  src/BenchmarkDotNet.Annotations/Attributes/ArgumentsSourceAttribute.cs
  src/BenchmarkDotNet.Annotations/Attributes/ParamsAllValuesAttribute.cs
  src/BenchmarkDotNet.Annotations/Attributes/ParamsAttribute.cs
  src/BenchmarkDotNet.Annotations/Attributes/ParamsSourceAttribute.cs
  src/BenchmarkDotNet.Annotations/Attributes/PriorityAttribute.cs
  src/BenchmarkDotNet/Columns/DefaultColumnProvider.cs
  src/BenchmarkDotNet/Columns/ParamColumn.cs
  src/BenchmarkDotNet/Parameters/ParameterDefinition.cs
  src/BenchmarkDotNet/Running/BenchmarkConverter.cs
  tests/BenchmarkDotNet.IntegrationTests/PriorityTests.cs
  tests/BenchmarkDotNet.Tests/ParameterComparerTests.cs
  tests/BenchmarkDotNet.Tests/ParameterInstanceTests.cs
Labels: Area:Exporters, Area:Loggers, enhancement

#1587 Memory Randomization
  samples/BenchmarkDotNet.Samples/IntroMemoryRandomization.cs
  src/BenchmarkDotNet/Attributes/Mutators/MemoryRandomizationAttribute.cs
  src/BenchmarkDotNet/ConsoleArguments/CommandLineOptions.cs
  src/BenchmarkDotNet/ConsoleArguments/ConfigParser.cs
  src/BenchmarkDotNet/Engines/Engine.cs
  src/BenchmarkDotNet/Engines/EngineResolver.cs
  src/BenchmarkDotNet/Jobs/JobExtensions.cs
  src/BenchmarkDotNet/Jobs/RunMode.cs
Labels: Area:Engine, blocked

#1631 don't redirect Standard Error, as we don't read it and writing to it by benchmark can cause deadlocks
  src/BenchmarkDotNet/Toolchains/DotNetCli/DotNetCliCommandExecutor.cs
  src/BenchmarkDotNet/Toolchains/DotNetCli/DotNetCliExecutor.cs
  src/BenchmarkDotNet/Toolchains/Executor.cs
  tests/BenchmarkDotNet.IntegrationTests/StandardErrorTests.cs
Labels: Area:Toolchains

#1582 introduce ManualConfig.CreateMinimumViable() method
  docs/articles/configs/exporters.md
  samples/BenchmarkDotNet.Samples/IntroCustomMono.cs
  src/BenchmarkDotNet/Configs/ManualConfig.cs
  src/BenchmarkDotNet/Reports/SummaryStyle.cs
Labels: enhancement

#1606 CoreRT feed and version update
  azure-pipelines.Ubuntu.yml
  azure-pipelines.Windows.yml
  docs/articles/configs/toolchains.md
  src/BenchmarkDotNet/Environments/Runtimes/CoreRtRuntime.cs
  src/BenchmarkDotNet/Toolchains/CoreRt/CoreRtToolchain.cs
  src/BenchmarkDotNet/Toolchains/CoreRt/CoreRtToolchainBuilder.cs
  src/BenchmarkDotNet/Toolchains/CoreRt/Generator.cs
  tests/BenchmarkDotNet.IntegrationTests.ManualRunning/LocalCoreRtToolchainTests.cs
  tests/BenchmarkDotNet.IntegrationTests/BuildTimeoutTests.cs
  tests/BenchmarkDotNet.IntegrationTests/CoreRtTests.cs
  tests/BenchmarkDotNet.IntegrationTests/MemoryDiagnoserTests.cs
  tests/BenchmarkDotNet.IntegrationTests/ThreadingDiagnoserTests.cs
Labels: Area:Toolchains
