Repository dotnet/BenchmarkDotNet, pull requests merged in 2021-11, with the labels that each got.

#1841 Fix argument escaping
  src/BenchmarkDotNet/Extensions/StringAndTextExtensions.cs
  tests/BenchmarkDotNet.IntegrationTests/ArgumentsTests.cs
Labels: bug

#1846 [wasm] fix perf after test renames
  docs/articles/configs/toolchains.md
  samples/BenchmarkDotNet.Samples/IntroWasm.cs
  src/BenchmarkDotNet/Templates/WasmAotCsProj.txt
  src/BenchmarkDotNet/Templates/WasmCsProj.txt
  src/BenchmarkDotNet/Toolchains/Executor.cs
  src/BenchmarkDotNet/Toolchains/MonoWasm/WasmGenerator.cs
Labels: Area:Toolchains

#1848 align both Executors to use the same timeout (2s)
  src/BenchmarkDotNet/Toolchains/DotNetCli/DotNetCliExecutor.cs
  src/BenchmarkDotNet/Toolchains/Executor.cs
  src/BenchmarkDotNet/Toolchains/Parameters/ExecuteParameters.cs
Labels: Area:Toolchains

#1850 Added exporter custom path to docs #1819
  docs/articles/configs/exporters.md
Labels: Area:Documentation
