Repository dotnet/BenchmarkDotNet, pull requests merged in 2022-10, with the labels that each got.

#2133 ensure CompositeLogger is synchronized
  src/BenchmarkDotNet/Loggers/AsyncProcessOutputReader.cs
Labels: Area:Loggers

#2136 Pass non escaped strings to generated project
  src/BenchmarkDotNet/Exporters/FullNameProvider.cs
  src/BenchmarkDotNet/Extensions/StringAndTextExtensions.cs
  src/BenchmarkDotNet/Helpers/SourceCodeHelper.cs
  tests/BenchmarkDotNet.IntegrationTests/ParamsTests.cs
  tests/BenchmarkDotNet.Tests/SourceCodeHelperTests.cs
Labels: Area:Toolchains

#2143 throw an exception when multiple benchmark projects with the same name are found
  src/BenchmarkDotNet/Toolchains/CsProj/CsProjGenerator.cs
Labels: Area:Toolchains

#2151 Fix user input matching
  src/BenchmarkDotNet/Running/UserInteraction.cs
Labels: Area:CommandLine

#2154 remove dependency to Mono.Posix.NETStandard to unblock WASM benchmarks runs
  samples/BenchmarkDotNet.Samples/IntroLargeAddressAware.cs
  src/BenchmarkDotNet/Attributes/PerfCollectProfilerAttribute.cs
  src/BenchmarkDotNet/BenchmarkDotNet.csproj
  src/BenchmarkDotNet/Diagnosers/PerfCollectProfiler.cs
  src/BenchmarkDotNet/Diagnosers/PerfCollectProfilerConfig.cs
  src/BenchmarkDotNet/Jobs/EnvironmentMode.cs
  src/BenchmarkDotNet/Portability/Libc.cs
  src/BenchmarkDotNet/Toolchains/DotNetCli/DotNetCliCommandExecutor.cs
Labels: Area:Diagnosers

#2148 adding validation errors when the benchmarks are unsupported
  samples/BenchmarkDotNet.Samples/IntroWasm.cs
  src/BenchmarkDotNet/ConsoleArguments/ConfigParser.cs
  src/BenchmarkDotNet/Loggers/LoggerExtensions.cs
  src/BenchmarkDotNet/Reports/Summary.cs
  src/BenchmarkDotNet/Running/BenchmarkRunnerClean.cs
  src/BenchmarkDotNet/Running/BenchmarkRunnerDirty.cs
  src/BenchmarkDotNet/Running/BuildPartition.cs
  src/BenchmarkDotNet/Toolchains/CoreRun/CoreRunToolchain.cs
  src/BenchmarkDotNet/Toolchains/CsProj/CsProjClassicNetToolchain.cs
  src/BenchmarkDotNet/Toolchains/CsProj/CsProjCoreToolchain.cs
  src/BenchmarkDotNet/Toolchains/IToolchain.cs
  src/BenchmarkDotNet/Toolchains/InProcess.NoEmit/InProcessNoEmitToolchain.cs
  src/BenchmarkDotNet/Toolchains/InProcess/InProcessToolchain.cs
  src/BenchmarkDotNet/Toolchains/InProcess/InProcessValidator.cs
  src/BenchmarkDotNet/Toolchains/Mono/MonoAotToolchain.cs
  src/BenchmarkDotNet/Toolchains/MonoWasm/WasmToolchain.cs
  src/BenchmarkDotNet/Toolchains/Roslyn/RoslynToolchain.cs
  src/BenchmarkDotNet/Toolchains/Toolchain.cs
  src/BenchmarkDotNet/Toolchains/ToolchainExtensions.cs
  src/BenchmarkDotNet/Validators/ValidationError.cs
  tests/BenchmarkDotNet.IntegrationTests/InProcessTest.cs
  tests/BenchmarkDotNet.IntegrationTests/NugetReferenceTests.cs
Labels: Area:Validators

#2142 Issue 2064: Mono70 moniker
  src/BenchmarkDotNet.Annotations/Jobs/RuntimeMoniker.cs
  src/BenchmarkDotNet/Attributes/Jobs/MonoJobAttribute.cs
  src/BenchmarkDotNet/BenchmarkDotNet.csproj
  src/BenchmarkDotNet/ConsoleArguments/ConfigParser.cs
  src/BenchmarkDotNet/Environments/Runtimes/MonoRuntime.cs
  src/BenchmarkDotNet/Extensions/RuntimeMonikerExtensions.cs
  src/BenchmarkDotNet/Portability/RuntimeInformation.cs
  src/BenchmarkDotNet/Toolchains/CsProj/CsProjCoreToolchain.cs
  src/BenchmarkDotNet/Toolchains/Mono/MonoGenerator.cs
  src/BenchmarkDotNet/Toolchains/Mono/MonoPublisher.cs
  src/BenchmarkDotNet/Toolchains/Mono/MonoToolchain.cs
  src/BenchmarkDotNet/Toolchains/Toolchain.cs
  src/BenchmarkDotNet/Toolchains/ToolchainExtensions.cs
  tests/BenchmarkDotNet.IntegrationTests/MonoTests.cs
Labels: Area:Toolchains

#2174 Added the ability to not run with Evaluation Overhead
  src/BenchmarkDotNet/ConsoleArguments/CommandLineOptions.cs
  src/BenchmarkDotNet/ConsoleArguments/ConfigParser.cs
  tests/BenchmarkDotNet.Tests/ConfigParserTests.cs
Labels: Area:CommandLine
