Repository dotnet/BenchmarkDotNet, pull requests merged in 2022-02, with the labels that each got.

#1909 Log progress and estimated finish time
  src/BenchmarkDotNet/Running/BenchmarkRunnerClean.cs
Labels: enhancement

#1916 [WASM] Fix rename of main.js to test-main.js
  docs/articles/guides/console-args.md
  src/BenchmarkDotNet/Templates/WasmAotCsProj.txt
  src/BenchmarkDotNet/Templates/WasmCsProj.txt
  src/BenchmarkDotNet/Toolchains/Executor.cs
  src/BenchmarkDotNet/Toolchains/MonoWasm/WasmGenerator.cs
Labels: Area:Toolchains

#1919 Restore BytesAllocatedPerOperation for JSON and XML
  src/BenchmarkDotNet/Exporters/Json/JsonExporterBase.cs
  src/BenchmarkDotNet/Exporters/Xml/SummaryDto.cs
  tests/BenchmarkDotNet.Tests/Exporters/ApprovedFiles/CommonExporterApprovalTests.Exporters.Invariant.approved.txt
  tests/BenchmarkDotNet.Tests/Exporters/ApprovedFiles/CommonExporterApprovalTests.Exporters.en-US.approved.txt
  tests/BenchmarkDotNet.Tests/Exporters/ApprovedFiles/CommonExporterApprovalTests.Exporters.ru-RU.approved.txt
  tests/BenchmarkDotNet.Tests/Exporters/CommonExporterApprovalTests.cs
Labels: Area:Exporters
