Repository dotnet/BenchmarkDotNet, pull requests merged in 2023-07, with the labels that each got.

#2360 Fix `MosCpuInfoProvider`
  src/BenchmarkDotNet/Portability/Cpu/MosCpuInfoProvider.cs
Labels: bug

#2335 `AggressiveOptimization` in `InProcess` toolchains
  src/BenchmarkDotNet/Helpers/Reflection.Emit/MethodBuilderExtensions.cs
  src/BenchmarkDotNet/Portability/CodeGen.cs
  src/BenchmarkDotNet/Templates/BenchmarkType.txt
  src/BenchmarkDotNet/Toolchains/InProcess/Emit/Implementation/Emitters/RunnableEmitter.cs
  src/BenchmarkDotNet/Toolchains/InProcess/NoEmit/BenchmarkAction.cs
  src/BenchmarkDotNet/Toolchains/InProcess/NoEmit/BenchmarkActionFactory_Implementations.cs
  src/BenchmarkDotNet/Toolchains/InProcess/NoEmit/InProcessNoEmitRunner.cs
  tests/BenchmarkDotNet.IntegrationTests/InProcessTest.cs
Labels: Area:Toolchains, Area:CodeGen

#2361 Add expected results tests
  src/BenchmarkDotNet/Analysers/ZeroMeasurementHelper.cs
  src/BenchmarkDotNet/Properties/AssemblyInfo.cs
  tests/BenchmarkDotNet.IntegrationTests.ManualRunning/BenchmarkDotNet.IntegrationTests.ManualRunning.csproj
  tests/BenchmarkDotNet.IntegrationTests.ManualRunning/ExpectedBenchmarkResultsTests.cs
  tests/BenchmarkDotNet.IntegrationTests/BenchmarkTestExecutor.cs
Labels: Area:DevOps

#2380 Cancel old jobs on push
  .github/workflows/run-tests.yaml
Labels: Area:DevOps

#2381 Support `--cli` argument for `CsProjClassicNetToolchain`
  src/BenchmarkDotNet/ConsoleArguments/ConfigParser.cs
  src/BenchmarkDotNet/Toolchains/CsProj/CsProjClassicNetToolchain.cs
  tests/BenchmarkDotNet.Tests/ConfigParserTests.cs
Labels: Area:Toolchains

#2370 Rebuild .Net Framework projects
  BenchmarkDotNet.sln
  src/BenchmarkDotNet/Properties/AssemblyInfo.cs
  src/BenchmarkDotNet/Toolchains/ToolchainExtensions.cs
  tests/BenchmarkDotNet.IntegrationTests.ManualRunning.MultipleFrameworks/BenchmarkDotNet.IntegrationTests.ManualRunning.MultipleFrameworks.csproj
  tests/BenchmarkDotNet.IntegrationTests.ManualRunning.MultipleFrameworks/MultipleFrameworksTest.cs
  tests/BenchmarkDotNet.IntegrationTests.ManualRunning/BenchmarkDotNet.IntegrationTests.ManualRunning.csproj
Labels: Area:Toolchains

#2384 perfcollect: don't restore symbols for local builds
  src/BenchmarkDotNet/Diagnosers/PerfCollectProfiler.cs
Labels: Area:Diagnosers
