Repository dotnet/BenchmarkDotNet, pull requests merged in 2023-11, with the labels that each got.

#2456 implement full .NET 9 support
  NuGet.Config
  src/BenchmarkDotNet.Annotations/Jobs/RuntimeMoniker.cs
  src/BenchmarkDotNet.Diagnostics.dotTrace/DotTraceDiagnoser.cs
  src/BenchmarkDotNet/ConsoleArguments/ConfigParser.cs
  src/BenchmarkDotNet/Environments/Runtimes/CoreRuntime.cs
  src/BenchmarkDotNet/Environments/Runtimes/MonoRuntime.cs
  src/BenchmarkDotNet/Environments/Runtimes/NativeAotRuntime.cs
  src/BenchmarkDotNet/Extensions/RuntimeMonikerExtensions.cs
  src/BenchmarkDotNet/Toolchains/CsProj/CsProjCoreToolchain.cs
  src/BenchmarkDotNet/Toolchains/DotNetCli/NetCoreAppSettings.cs
  src/BenchmarkDotNet/Toolchains/Mono/MonoToolchain.cs
  src/BenchmarkDotNet/Toolchains/NativeAot/NativeAotToolchain.cs
  src/BenchmarkDotNet/Toolchains/ToolchainExtensions.cs
  tests/BenchmarkDotNet.Tests/ConfigParserTests.cs
Labels: Area:Toolchains

#2458 Adds Metrics Columns to Benchmark Report Output
  src/BenchmarkDotNet/Exporters/Xml/SummaryDto.cs
  tests/BenchmarkDotNet.Tests/Exporters/CommonExporterVerifyTests.cs
  tests/BenchmarkDotNet.Tests/Exporters/VerifiedFiles/CommonExporterVerifyTests.Exporters_Invariant.verified.txt
  tests/BenchmarkDotNet.Tests/Exporters/VerifiedFiles/CommonExporterVerifyTests.Exporters_en-US.verified.txt
  tests/BenchmarkDotNet.Tests/Exporters/VerifiedFiles/CommonExporterVerifyTests.Exporters_ru-RU.verified.txt
Labels: Area:Exporters

#2464 Use "native" for .NET 8, don't use "serialize" for .NET 7
  src/BenchmarkDotNet/ConsoleArguments/ConfigParser.cs
  src/BenchmarkDotNet/Toolchains/NativeAot/Generator.cs
Labels: Area:Toolchains

#2459 Enable MemoryDiagnoser on Legacy Mono
  docs/articles/configs/diagnosers.md
  src/BenchmarkDotNet/Engines/GcStats.cs
  tests/BenchmarkDotNet.IntegrationTests/MemoryDiagnoserTests.cs
Labels: Area:Diagnosers

#2465 fix NativeAOT toolchain and tests
  src/BenchmarkDotNet/ConsoleArguments/ConfigParser.cs
  src/BenchmarkDotNet/Toolchains/NativeAot/NativeAotToolchain.cs
  src/BenchmarkDotNet/Toolchains/NativeAot/NativeAotToolchainBuilder.cs
  tests/BenchmarkDotNet.IntegrationTests/MemoryDiagnoserTests.cs
  tests/BenchmarkDotNet.IntegrationTests/ThreadingDiagnoserTests.cs
Labels: Area:Toolchains
