Repository dotnet/BenchmarkDotNet, pull requests merged in 2024-03, with the labels that each got.

#2523 .Net SDK Validation
  src/BenchmarkDotNet/Toolchains/CoreRun/CoreRunToolchain.cs
  src/BenchmarkDotNet/Toolchains/CsProj/CsProjClassicNetToolchain.cs
  src/BenchmarkDotNet/Toolchains/CsProj/CsProjCoreToolchain.cs
  src/BenchmarkDotNet/Toolchains/MonoAotLLVM/MonoAotLLVMToolChain.cs
  src/BenchmarkDotNet/Toolchains/MonoWasm/WasmToolchain.cs
  src/BenchmarkDotNet/Toolchains/NativeAot/NativeAotToolchain.cs
  src/BenchmarkDotNet/Toolchains/Toolchain.cs
  src/BenchmarkDotNet/Validators/DotNetSdkVersionValidator.cs
Labels: Area:Validators, Area:Toolchains

#2532 Add Integration Test for WASM
  .github/workflows/run-tests.yaml
  build/BenchmarkDotNet.Build/Program.cs
  build/BenchmarkDotNet.Build/Runners/BuildRunner.cs
  tests/BenchmarkDotNet.IntegrationTests/AppBundle/test-main.js
  tests/BenchmarkDotNet.IntegrationTests/BenchmarkDotNet.IntegrationTests.csproj
  tests/BenchmarkDotNet.IntegrationTests/WasmTests.cs
Labels: Area:Toolchains, Area:DevOps

#2108 Fix consume ValueTask backed by IValueTaskSource
  src/BenchmarkDotNet/Code/DeclarationsProvider.cs
  src/BenchmarkDotNet/Helpers/AwaitHelper.cs
  src/BenchmarkDotNet/Toolchains/InProcess/Emit/Implementation/ConsumableTypeInfo.cs
  src/BenchmarkDotNet/Toolchains/InProcess/Emit/Implementation/Emitters/RunnableEmitter.cs
  src/BenchmarkDotNet/Toolchains/InProcess/NoEmit/BenchmarkActionFactory_Implementations.cs
  src/BenchmarkDotNet/Validators/ExecutionValidatorBase.cs
  tests/BenchmarkDotNet.IntegrationTests/AllSetupAndCleanupTest.cs
  tests/BenchmarkDotNet.IntegrationTests/AsyncBenchmarksTests.cs
  tests/BenchmarkDotNet.IntegrationTests/InProcessEmitTest.cs
  tests/BenchmarkDotNet.Tests/Validators/ExecutionValidatorTests.cs
Labels: Area:CodeGen

#2374 stackalloc in separate method
  src/BenchmarkDotNet/Engines/Engine.cs
Labels: Area:Engine
